# dependencies
/node_modules
/packages/*/node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json

/packages/*/lib
/packages/*/coverage
# misc
.DS_Store
.idea
/.vscode
# umi

/lerna-debug.log
.pnpm-*.log
